{% extends 'catalog/base.html' %}
{% block content %}
<div class="p-4 p-md-5 mb-4 rounded bg-light">
    <div class="col-md-12 px-0">
      <h1 class="display-6 fst-italic">Title of a longer featured blog post</h1>
        {% if blogpost.preview_image %}
        <img src="{{ blogpost.preview_image.url }}" class="img-fluid mb-3 bd-placeholder-img" width="300" height="330" alt="{{ blogpost.title }}">
    {% endif %}
    <p>Текст: {{ blogpost.content }}</p>
    <p>Создано: {{ blogpost.created_at }}</p>
    <p>Просмотров: {{ blogpost.views_count }}</p>
    <p>Опубликовано: {% if blogpost.is_published %}Да{% else %}Нет{% endif %}</p>
    <a href="{% url 'blogpost_update' blogpost.pk %}" class="btn btn-xs btn-block btn-outline-primary">Редактировать</a>
    <a href="{% url 'blogpost_delete' blogpost.pk %}" class="btn btn-xs btn-block btn-outline-primary">Удалить</a>
    <a href="{% url 'blogpost_list' %}" class="btn btn-xs btn-block btn-outline-primary">Назад</a>
    </div>
  </div>
{% endblock %}